* {
    -fx-font-family: 'Microsoft YaHei UI';
}
.split-pane > .split-pane-divider {
    -fx-padding: 1px;
    -fx-background-color: #c2c2c2;
    /*-fx-background-insets: 0;*/
    /*-fx-shape: " ";*/
}
.legend{
    -fx-background-color: #e1e1e1;
}
.legend:hover{
    -fx-background-color: #b2b2b2;
}
.progressbarYt{
    -fx-pref-height: 10px;
    -fx-border-width: 1px;
}

/*这个是标签按钮的css样式*/
.manuscript-box .button{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#8c8c8c, 5.0 ,0, 0, 0);
}
.manuscript-box .button:hover{
    -fx-background-color: derive(#d9d9d9,15%);
}
.cart-content{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#8c8c8c, 10.0,0, 0, 0);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;
    -fx-padding: 10px;
}
.content-context .topLabel{
    -fx-text-fill: #d3d3d3;
}
.content-context .bottomLabel{
    -fx-text-fill: #757575;
}
.label-name{
    -fx-pref-width: 340px;
    -fx-background-color: #ffffff;
    -fx-font-size: 15px;
    -fx-effect: dropshadow(three-pass-box,#8c8c8c, 5.0,0, 0, 0);
}
.book{
    -fx-pref-width: 130px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;
    -fx-padding: 10px;
}
.book:hover{
    -fx-effect: dropshadow(three-pass-box,#8c8c8c, 10.0,0, 0, 0);
}
.coderYt{
    -fx-font-size: 15px;
}

/*顶部菜单栏*/
.zkh_MenuBar{
    -fx-background-color:#ffff;
    -fx-border:none;
    -fx-font-size:12;
}
.zkh_MenuItem{
    -fx-padding: 8 60 8 30;
    -fx-font-size:12;
    -fx-cursor:hand;
    -fx-border:none;
}
.context-menu{
    -fx-padding:2;
    -fx-border-width:0;
    -fx-background-color:rgb(242,242,242,0.96); /*0.87*/
    -fx-background-radius:2px;
    /*-fx-effect:dropshadow(three-pass-box, #F2F2F2, 1, 0, 0, 0); 阴影效果*/
}
.menu-bar > .container > .menu-button:showing{ /*菜单栏选中并移动到二级菜单时一级选中菜单的样式*/
    -fx-background-color:#CCCCCE;
}
.menu-button{
    -fx-padding:2 6 2 6;
}
.menu-button:hover{
    -fx-background-color:#CCCCCE;
}
.menu-button > .label,.menu-item > .label{
    -fx-text-fill:BLACK;
}
.menu-item:focused{
    -fx-background-color:#CCCCCE; /*#90C8F6*/
}
.menu:focused > .right-container > .arrow{
    -fx-background-color:#CCCCCE;
}
.tree-view{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#8c8c8c, 5.0 ,0, 0, 0);
}
.tree-cell:hover,
.tree-cell:focused{
    -fx-background-color: rgba(17, 58, 207,0.6);
}
.list-view{
    -fx-background-color: #ffffff;
}
.list-cell{
    -fx-background-color: #ffffff;
}
.button{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#8c8c8c, 5.0 ,0, 0, 0);
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}
.button:hover{
    -fx-background-color: derive(#d9d9d9,15%);
}
.list-view .scroll-bar:horizontal,
.list-view .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,80%);
    -fx-background-radius: 0em;
    -fx-background-insets: 0, 0, 0;
}

.list-view .scroll-bar:horizontal:hover,
.list-view .scroll-bar:vertical:hover,
.scroll-pane .scroll-bar:horizontal:hover,
.scroll-pane .scroll-bar:vertical:hover,
.list-view .scroll-bar:horizontal:focused,
.list-view .scroll-bar:vertical:focused,
.scroll-pane .scroll-bar:horizontal:focused,
.scroll-pane .scroll-bar:vertical:focused{

}
.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:vertical .track,
.scroll-pane .scroll-bar:horizontal .track,
.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: derive(#ffffff,20%);
    -fx-opacity: 0.2;
    -fx-background-radius: 0em;
}
.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color:rgba(217, 217, 217,0.7);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

